a:link {color: #000000;}
a:visited {color: #00498a;}
a:hover {color: #000000;}

h1 {font-family: 'Inconsolata', monospace;}
p {font-family: 'Inconsolata', monospace;}
footer {font-family: 'Inconsolata', monospace;}
form {font-family: 'Inconsolata', monospace;}
nav {
    font-family: 'Inconsolata', monospace;
    background-color: #dbffd9;
    border-radius: 5em;
}

.dropbutton {
    background-color: #dbffd9;
    color: #00498a;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 140px;
    box-shadow: 0px;
    z-index: 1;
}

.dropdown-content a {
    color:#000000;
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {background-color: #d5e1eb;}
.dropdown:hover .dropdown-content {display: block;}


body {
    background-color: #d5e1eb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

@media only screen and (max-width: 600px) {
    nav a {width: 100%; display: block; padding: 10px;}
    span {display: none;}
}
